* {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', sans-serif;
  font-feature-settings: 'palt';
  font-size: 16px;
  text-align: justify;
  text-size-adjust: 100%;
  background: #fafafa;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #1ea4fc;
}

#wrapper {
  position: relative;
  margin: auto;
  padding: 8px;
  max-width: 550px;
}