.index {
  position: relative;
  transition: opacity .2s .4s ease-in-out;

  canvas {
    margin: auto;
    display: block;
    width: 100%;
  }
}

.txt {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 5px;
  border-radius: 6px;
  width: 100%; height: 100px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.btn {
  display: block;
  border-bottom: solid #333 4px;
  border-radius: 12px;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .2em;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(#5a5a5a, #4e4e4e);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  user-select: none;
}

.btn-save {
  margin: 10px auto;
  width: 288px; height: 60px;
  line-height: 60px;
}

.box {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 5px;
  max-width: 550px;
  width: 100%;
  font-size: 12px;
  background: #fff;
  overflow: hidden;

  h1 {
    margin: 5px;
    font-size: 16px;
  }

  ul {
    margin: 5px auto 15px;
    padding-left: 20px;
    font-size: 10px;
  }

  p {
    margin: 5px;
  }
}

.book-box {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 5px;
}

.book-link {
  width: 50%;
}

.book-link-img {
  width: 100%;
}

.book-link-btn {
  margin-top: 5px;
  height: 40px;
  line-height: 40px;
}

.logo {
  display: block;
  margin: 28px auto 20px;
  width: 100px;

  img {
    width: 100%;
  }
}