* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font: 16px 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', sans-serif;
  background: #fafafa;
  word-wrap: break-word;
}

a {
  color: #1ea4fc;
}

#wrapper {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 8px;
  max-width: 550px;
}

#canvas {
  margin: auto;
  display: block;
  width: 100%;
}

#txt {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 5px;
  border-radius: 6px;
  width: 100%; height: 100px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
  overflow: hidden;
}

#txt:focus {
  outline: none;
}

.btn {
  display: block;
  border-bottom: solid #333 4px;
  border-radius: 12px;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .2em;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(#5a5a5a, #4e4e4e);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  user-select: none;
}

.btn-save {
  margin: 10px auto;
  width: 300px; height: 60px;
  line-height: 60px;
}

.box {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 5px;
  max-width: 550px;
  width: 100%;
  font-size: 12px;
  background: #fff;
  overflow: hidden;
}

.box h1 {
  margin: 5px;
  font-size: 16px;
}

.box ul {
  margin: 5px auto 15px;
  padding-left: 20px;
  font-size: 10px;
}

.box p {
  margin: 5px;
}

.book-box {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 5px;
}

.book-link {
  width: 50%;
}

.book-link-img {
  width: 100%;
}

.book-link-btn {
  margin-top: 5px;
  height: 40px;
  line-height: 40px;
}

.logo {
  display: block;
  margin: 28px auto 20px;
  width: 100px;
}

.logo img {
  width: 100%;
}
